<div class="container">
  <ul class="card-list">
    <div class="container-card container-card--first">
      <div class="container-card-icon"></div>
      <h1 class="container-card-title">JAVA SCRIPT</h1>
      <p class="container-card-text">Certificate</p>
      <div class="container-card-line">
        <p class="container-card-text">
          Certificate awertificate eertificatntaineficate ertifictificate.
        </p>
      </div>
      <div class="light"></div>
    </div>
    <div class="container-card container-card--second">
      <div class="container-card-icon"></div>
      <h1 class="container-card-title">REACT</h1>
      <p class="container-card-text">Certificate</p>
      <div class="container-card-line">
        <p class="container-card-text">
          Certificate awertificate eertificatntaineficate ertifictificate.
        </p>
      </div>
      <div class="light"></div>
    </div>
    <div class="container-card container-card--third">
      <div class="container-card-icon"></div>
      <h1 class="container-card-title">HTML/CSS</h1>
      <p class="container-card-text">Certificate</p>
      <div class="container-card-line">
        <p class="container-card-text">
          Certificate sadwdawd awertificate eertificatntaineficate
          ertifictificate.
        </p>
      </div>
      <div class="light"></div>
    </div>
    <div class="container-card container-card--fourth">
      <div class="container-card-icon"></div>
      <h1 class="container-card-title">ANGULAR</h1>
      <p class="container-card-text">Certificate</p>
      <div class="container-card-line">
        <p class="container-card-text">
          Certificate awertificate eertificatntaineficate ertifictificate.
        </p>
      </div>
      <div class="light"></div>
    </div>
  </ul>
</div>
